*{
    font-family:cursive;
}

body{
    background-color: #e5e5f7;
    background-image:  linear-gradient(#0f803a 1px, transparent 1px), linear-gradient(to right, #86f744 1px, #e1f7bb 1px);
    background-size: 20px 20px;
}

.logo{
    background-image: linear-gradient(to left, green, yellowgreen);
    color: transparent;
    background-clip: text;
    text-align: center;
}

.bloco{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
   max-width: 220px;
   background-color: white;
   height: 220px; 
   overflow: hidden;
   padding: 12px;
   border-radius: 5px;
}

.bloco button{
    margin: 12px;
    background-color: #86f744;
    color: darkgreen;
    border: 1px solid green;
    border-radius: 2px;
    padding: 5px;
}

.bloco label{
    font-weight: bold;
    margin: 3px;
}

.bloco button:active{
    background-color: yellowgreen;
    color: green;
}

.bloco input{
    border: 1px solid rgb(51, 79, 51);
    background-color: rgb(255, 244, 229);
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    max-width: 120px;
}

#resultado{
    text-decoration: underline;
}

table{
    background-color: yellow;
    border-collapse: collapse;
    padding: 5px;
}

table th{
    background-color: green;
    border: 1px solid black;
}

table tr{
    border: 1px solid black;
    
}

table td{
    border: 1px solid black;
    
}